<!DOCTYPE html>
<html lang="en">
<!-- Notas -->
<!-- Falta por definir como llenar los espacion entre las secciones
talvez iamgenes no muy pesadas o colores que contrasten un poco -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J's Portfolio</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleAbout.css">
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <a class="navbar-brand" href="#">J's Portafolio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="#">About Me
                                <span class="sr-only">(current)</span>
                            </a>
                            <a class="nav-item nav-link" href="#">Portfolio</a>
                            <a class="nav-item nav-link" href="./contact.html">Contact</a>
                        </div>
                    </div>
                </nav>
    </header>
    <!-- Salto de linea para contendio y barra de navegacion -->
    <br>
    <br>

    <div class="bodyAbout">
        <div class="container-fluid">
            <div class="row">
                <!-- Informacion mi, ocupa todo el lado izqueirdo -->
                <div class="offset-2 col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center">
                    <div class=" offset-3 col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <img class="img-fluid" src="../images/icons/ic_book_black_48px.svg" alt="Imagen con mi avatar">
                    </div>
                    <!-- Brinco de linea para dar espacio entre foto y texto -->
                    <br>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <p class="text-muted">
                            <b>
                                I'm an engenireeing student at
                                <a target="blank" class="removeHyperlinkColor text-muted" href="http://wwww.itcj.edu.mx">I.T.C.J</a> I would love to code your webpage or project!.
                                <br> I love learning about new technologies and applying my knowledge.
                                <br> I reside in Mexico, right at the border with the U.S .
                            </b>
                        </p>
                    </div>
                    <!-- Seccion de habilidades  y br para dar espacio entre seccioens -->
                    <br>

                    <!-- Seccion que contiene dos secciones -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <h1>Programming Languages</h1>
                                </div>
                                <!-- Espacio entre titulo -->
                                <br>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                <img src="../images/icons/html.svg" alt="Icono del lenguaje">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                                aqui van los iconos de estrella.
                            </div>
                        </div>
                        <!-- Espacio entre lenguajes -->
                        <br>
                    </div>
                    <!-- Espacio entre las categorias -->
                    <br>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <h1>Tools and FrameWorks</h1>
                    </div>
                    <!-- Espacio entre tirulo y FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            <img src="../images/icons/html.svg" alt="Icono del FrameWork">
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                            aqui van los iconos de estrella.
                        </div>
                    </div>
                    <!-- Espacio entre Tools and FrameWorks -->
                    <br>
                    <br>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <h1>Hobbies and Interests.</h1>
                    </div>
                    <!-- Espacio entre titulo y contenido -->
                    <br>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <p class="text-muted">
                            <b>
                                I enjoy reading and exchangin opinions with other people,
                                <br> active contributor of an online forum called XDA-Developers,
                                <br> playing the guitar and online videogames.
                                <br>
                                <br> One of my biggest interest is cloud computing, to be more specific
                                <br> it would be virtualization, right now I am enrolled in an after school
                                <br> activity called "Capitulo Estudiantil - Inteligencia Artificial" which is
                                <br>oriented in learning and applying A.I. in various developing areas.
                                <br>
                                <br> Some of my interest besides technology, are Music,
                                <br> Video-games, and going to the movie theater.

                            </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQUERY JS -->
    <script src="../../controller/js/JQuery/jquery-3.3.1.js"></script>
    <!-- Popper JS -->
    <script src="../../controller/js/Popper/popper.js"></script>
    <!--Bootsrap JS -->
    <script src="../../controller/js/BootStrap/bootstrap.bundle.js"></script>
</body>

</html>