<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleContact.css">
</head>

<body>
    <div class="mainContainer">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="../../index.html">J's Portafolio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link " href="../html/about.html">About Me</a>
                        <a class="nav-item nav-link" href="#">Portfolio</a>
                        <a class="nav-item nav-link active" href="#">Contact<span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container centerContainer">
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="offset-6 col-lg-6 col-xl-6 d-none d-lg-block">
                        <div class="form-group" action="https://formspree.io/your@email.com" method="POST">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" name="name" id="idname" aria-describedby="emailHelpId" placeholder="you@yourdomain.com">

                            <label for="Email">Email</label>
                            <input type="email" class="form-control" name="_replyto" id="idemail" aria-describedby="emailHelpId" placeholder="you@yourdomain.com">

                            <label for="message">Message</label>
                            <input type="text" class="form-control " name="message" id="messageid" aria-describedby="helpId" placeholder="Message">

                            <small id="fileHelpId" class="form-text text-muted">(Optional)</small>

                            <button type="submit" class="btn btn-dark" values="Send">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQUERY JS -->
    <script src="../../model/js/JQuery/jquery-3.3.1.js"></script>
    <!-- Popper JS -->
    <script src="../../model/js/Popper/popper.js"></script>
    <!--Bootsrap JS -->
    <script src="../../model/js/BootStrap/bootstrap.bundle.js"></script>
</body>

</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleContact.css">
</head>

<body>
    <div class="mainContainer">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="../../index.html">J's Portafolio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link " href="../html/about.html">About Me</a>
                        <a class="nav-item nav-link" href="#">Portfolio</a>
                        <a class="nav-item nav-link active" href="#">Contact<span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container centerContainer">
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="offset-6 col-lg-6 col-xl-6 d-none d-lg-block">
                        <div class="form-group" action="https://formspree.io/your@email.com" method="POST">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" name="name" id="idname" aria-describedby="emailHelpId" placeholder="you@yourdomain.com">

                            <label for="Email">Email</label>
                            <input type="email" class="form-control" name="_replyto" id="idemail" aria-describedby="emailHelpId" placeholder="you@yourdomain.com">

                            <label for="message">Message</label>
                            <input type="text" class="form-control " name="message" id="messageid" aria-describedby="helpId" placeholder="Message">

                            <small id="fileHelpId" class="form-text text-muted">(Optional)</small>

                            <button type="submit" class="btn btn-dark" values="Send">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQUERY JS -->
    <script src="../../model/js/JQuery/jquery-3.3.1.js"></script>
    <!-- Popper JS -->
    <script src="../../model/js/Popper/popper.js"></script>
    <!--Bootsrap JS -->
    <script src="../../model/js/BootStrap/bootstrap.bundle.js"></script>
</body>

</html>
