<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styleContact.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 order-sm-2">
                a
            </div>
            <div class="col-sm-3 order-sm-3">
                b
            </div>
            <div class="col-sm-3 order-sm-4">
                c
            </div>
            <div class="col-sm-3 order-sm-1">
                d
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQUERY JS -->
    <script src="../../model/js/JQuery/jquery-3.3.1.js"></script>
    <!-- Popper JS -->
    <script src="../../model/js/Popper/popper.js"></script>
    <!--Bootsrap JS -->
    <script src="../../model/js/BootStrap/bootstrap.bundle.js"></script>
</body>

</html>