@font-face {
    font-family: 'Quicksand'; /*a name to be used later*/
    src: url('../../view/fonts/Quicksand-Regular.ttf'); /*URL to font*/
}

body, html {
    
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;

}

header{
    border-bottom: 1px solid black;
}


.mainContainer{
    height: 100vh;
    background-size: cover;
    background-image: url(../images/home/pexels-photo-257937.jpeg);
    background-repeat: no-repeat;
}

.centerContainer{
    padding-top: 15vh;
}